<div class="row my-5">
    <div class="col">
        <h1 class="text-center">도서검색</h1>
        
        <div class="row justify-content-end my-3">
            <form class="col-6 col-md-4 col-lg-3" name="frm">
                <div class="input-group">
                    <input class="form-control" name="query" value="자바">
                    <button class="btn btn-primary">검색</button>
                </div>
            </form>
        </div>

        <div id="div_books"></div>
    </div>
</div>

<!--도서목록 템플릿-->
<script type="x-handlebars-template" id="temp_books">
    <table class="table table-striped">
        {{#each documents}}
        <tr>
            <td>
                <img src="{{thumbnail}}" width="50">
            </td>
            <td>
                {{title}}
            </td>
            <td>
                {{price}}
            </td>
            <td>
                {{authors}}
            </td>
        </tr>
        {{/each}}
    </table>
</script>

<script>
    let query=$(frm.query).val();
    getBooks();
    
    $(frm).on("submit", function(e){
        e.preventDefault(); //submit 이벤트를 방지함
        query=$(frm.query).val();
        getBooks();
    });

    //도서 검색 목록 가져오기
    function getBooks(){
        $.ajax({
            type:"get",
            url:"https://dapi.kakao.com/v3/search/book?target=title",
            headers:{"Authorization":"KakaoAK c3b69d06eabdc1be6286cd64cb630224"},
            data:{query:query, page:1, size:5},
            success:function(data){
                console.log(data);
                let temp=Handlebars.compile($("#temp_books").html());
                $("#div_books").html(temp(data));
            }
        });
    }
</script>